
			@font-face {
		font-family: "NeouBold";
		src: url('Neou-Bold.otf'),
			 url('Neou-Bold.ttf');
		}

		#datboi {
			margin: 0 auto;
			margin-top: 5%;
			margin-left: 34%;
			height: 30%;
			width: 30%;
		}

		h1 {
			font-family: "NeouBold";
			margin-top: 80px;
			margin-bottom:-5px;
			margin-left: 26%;
			text-align: center;
			color: #8C001A;
			font-size: 20px;
			letter-spacing: 38px;
			left: 10px;
			width: 50%;
		}
		h2 {
			font-family: "NeouBold";
			margin: 0px auto;
			margin-bottom: 15px;
			text-align: center;
			color: #8C001A;
			font-size: 50px;
			letter-spacing: 81px;
			left: 0;
			width: 67%;
		}

			#list1 li {
				float: left;
				list-style-type: none;
				border: 1px solid;
				padding: 0.1em 2em;
				background-color: #white;
				font-family: "NeouBold";
				margin: 0px 4.66%;
				text-align: center;
				color: white;
				font-size: 15px;
				letter-spacing: 3px;
				left: 10px;
				width: 24%;
				box-sizing: border-box;
		}
		body {
			background-color: #white;
		}


		#list1:after {
			content: ".";
			visibility: hidden;
			display: block;
			height: 0;
			clear: both;
			font-size: 0;
		}

		#list1 ul {
			margin: 0 auto;
			padding: 0;
		    width: 50%;
		}

		#list2 li {
			float: left;
			border: 1px solid;
			padding: 0.1em 2em;
			background-color: #white;				
			font-family: "NeouBold";
			margin: 0px 4.66%;
			text-align: center;
			color: white;
			font-size: 15px;
			letter-spacing: 3px;
			left: 10px;
			width: 24%;
			box-sizing: border-box;

		}